// colors
$dark-green: #386641;
$middle-green: #6a994e;
$light-green: #a7c957;
$raspberry: #bc4749;
$beige: #f2e8cf;
$mint: #e7ecea;
$grey: #484b48;

// border
$border-radius: 12px;
$border: 1px solid;

// fonts
$font-arapey: "Arapey", serif;
$font-poppins: "Poppins", sans-serif;

//other variables
$page-bg: url('https://images.unsplash.com/photo-1615800098779-1be32e60cca3?q=80&w=3110&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
$gap: 40px;
$dishes-per-row: 2;
