@import "../../styles/variables";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    color: $dark-green;
    font-size: 48px;
}

.subheader {
    font-family: $font-poppins;
    color: $dark-green;
}
