@import "../styles/_variables";

.main {
  background-color: $mint;
  background-size: cover;
  font-style: normal;
  min-height: 100vh;
  box-sizing: border-box;
  padding: $gap;
  font-family: $font-poppins;
  color: $grey;
  font-weight: 100;
}
