@import "./styles/_variables";

.main {
  background-color: $mint;
  //background-image: $page-bg;
  background-size: cover;
  font-style: normal;
  min-height: 100vh;
  padding: $gap;
  font-family: $font-poppins;
  color: $grey;
  font-weight: 100;
}
